body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 , h4, h5, h6, p {
    font-size: 16px;
} 

.logo {
    background: url(../img/logo.svg) no-repeat center;
    width: 100px;
    height: 115px;
}

header {
    border-top: 3px solid #265384;
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
    padding: 0 30px;
    height: 130px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.container>div + div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 27px;
}

.container h1 {
    font-size: 3.063em;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 9px 0;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.container h1::before {
    content: "портал";
    font-size: 23px;
    font-weight: 500;
    text-transform: none;
    vertical-align: super;
}

.container h2 {
    font-size: 0.75em;
    font-weight: lighter;
    margin: 0px;
    text-transform: uppercase;}

.lang-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lang-selector ul li {
    display: inline;
}

.lang-selector ul li:first-child::before {
    content: "";
    background: url(../img/globus.svg) no-repeat center;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 7px;   
}

.lang-selector ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.lang-selector ul li:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
}

.container-nav {
    background: linear-gradient(180deg, #003366 , #5784bd);
    width: 100%;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li:not(:first-child)::before {
    content: "";
    border-left: 1px solid #63789a;
    margin-right: 10px;
    height: 42px;
}

nav ul li a {
    color: white;
    font-size: 1em;
    font-weight: 100;
    font-family: 'DIN Pro Regular', sans-serif;
    text-decoration: none;
    text-transform: uppercase;   
}

nav ul li svg {
    width: 14px;
}

article {
    max-width: 1200px;
    margin: auto;
    padding: 35px 30px;
    box-sizing: border-box;
}

.header-block {
   display: flex;
   justify-content: space-between; 
}

.banner-container {
    display: flex;
    height: fit-content;
    width: 74.5%;
}

.banner-content {
    background: #033d5e;
    color: white;
    width: 46%;
    height: 254px;
    padding: 20px 20px 30px 20px; 
}

.banner-content h2 {
    font-size: 1.55em;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: normal;
    margin: auto;
    padding-bottom: 20px;
} 

.banner-content p {
    font-size: 0.95em;
    font-weight: normal;
    font-family: 'Proxima Nova Cn Rg';
    margin: auto;
    padding-bottom: 37px;
}

.banner-content a {
    font-size: 0.85em;
    font-weight: normal;
    font-family: 'Proxima Nova Cn Rg';
    text-decoration: none;
    color: #e7d21d;
}

.banner-slider {
    background: url(https://mk0wnfdiary6wo1s2yv8.kinstacdn.com/wp-content/uploads/2017/12/Train-in-the-dark.jpg.webp);
    background-size: cover;
    height: 304px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.banner-slider span {
    background-color: #fff;
    border: 1px solid #858585;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-prev::before {
    content: "";
    background-image: url(../img/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
}

.btn-next::before {
    content: "";
    background-image: url(../img/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.btn-prev:hover {
    background-color: #dedede;
}

.btn-next:hover {
    background-color: #dedede;
}

aside {
    width: 22.8%;
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    font-family: 'Ubuntu Condensed', sans-serif;
}

aside .aside-title {
    color: #666;
    border-bottom: 1px solid #cecece;
    margin: 0 0 23px 0;
    font-size: 1.7em;
    padding-bottom: 14px;
}

aside .aside-archive {
    background-color: #ebebec;
    height: 100%;
}

aside .aside-archive ul {
    list-style: none;
    margin: 0;
    padding:  0 11px;
}

aside .aside-archive ul li {
    padding: 20px 0 0 0;
}

aside .aside-archive ul li>time {
    font-weight: bold;
    font-size: 1.2em;
}

aside .aside-archive ul li>p {
    margin: 11px 0 0 0;
    font-family: 'Proxima Nova Cn Rg';
    line-height: 1.3;
}

.page-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 0 50px 0;
    box-sizing: border-box;
}

.page-navigation div  {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-navigation div+div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

.page-navigation span {
    background: #cecece;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: 72px;
    padding: 0 22px;
    box-sizing: border-box;
}

.page-navigation span img {
    margin-right: 17px;
}

.page-navigation a { 
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.438em;
    box-sizing: border-box; 
}

.blog-content-block {
    display: flex;
    justify-content: space-between;
}

.blog-post-section {
    display: flex;
    flex-direction: column;
    width: 847px;    
}

.blog-post-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #cecece;
    padding: 0 0 75px 0;
    margin: 0 0 56px 0;
}

.blog-post-container>a {
    position: absolute;
    bottom: 31px;
    color: #205391;
    font-family: 'Proxima Nova Cn Rg';
    font-size: 0.85em;
    text-decoration: none; 
}

.post-block {
    width: 265px;
}

.post-img {
    background-position: center;
    background-size: cover;
    width: 265px;
    height: 151px;
    display: block;
}

.post-block h2 {
    margin: 17px 0 11px 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.3em;
}

.post-block time {
    font-family: 'Proxima Nova Cn Rg';
}

.post-block p {
    font-family: 'Proxima Nova Cn Rg';
    font-size: 1em;
    margin: 16px 0 0 0;
}

.outside-links {
    display: flex;
    justify-content: space-between;
}

.link-container {
    width: 48%;
    border: 3px solid #efefef;
    box-sizing: border-box;
    padding: 20px 61px;
}

.link-container h2 {
    position: relative;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.3em;
    margin: 4px 0 7px 0;
}

.link-container h2::before {
    content: "";
    display: inline-block;
    width: 39px;
    height: 50px;
    background-image: url(../img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -17px;
    left: -45px;
}

.link-container:nth-child(2) h2::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 34px;
    background-image: url(../img/facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -8px;
    left: -42px;
}

.link-container p {
    font-family: 'Proxima Nova Cn Rg';
    margin: 0
}

.blog-post-section-title {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #666;
    border-bottom: 1px solid #cecece;
    margin: 0 0 23px 0;
    font-size: 1.7em;
    padding-bottom: 4px;
}

.aside-divider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-video-container iframe {
    width: 100%;
    height: 175px;
    border: none;
}

.html5-video-player a {
    display: none;
}
.aside-video-container p {
    font-family: 'Proxima Nova Cn Rg';
    font-size: 1.1em;
    line-height: 1.2;
    padding: 0;
}

.aside-video-container .btn-more-video {
    color: #205391;
    font-family: 'Proxima Nova Cn Rg';
    font-size: 0.85em;
    text-decoration: none;
}

.ads-container {
    background: #ebebec;
    width: 100%;
    height: 291px;
    box-sizing: border-box;
    padding: 40px 0;
}

.ads-container h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.75em;
    text-align: center;
    margin: 20px 0 63px 0;
}

.ads-container p {
    font-family: 'Proxima Nova Cn Rg';
    font-size: 1em;
    line-height: 1.3;
    text-align: center;
    padding: 0px 13px;
}

footer {
    background: #cecece;
    margin: auto;
    height: 59px;
}

.footer-container span {
    font-family: 'Proxima Nova Cn Rg';
    font-size: 0.75em;
    color: #fff;
}

footer .social-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    height: 100%;
}

footer .social-block img {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 1000px) {
    .container {
        box-sizing: border-box;
        padding: 0 30px;
        height: 130px;
        display: flex;
        align-items: center;
        max-width: 1000px;
        margin: auto;
    }

    nav {
        max-width: 1000px;
        margin: auto;
        padding: 0 30px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
   
    article {
        max-width: 1000px;
        margin: auto;
        padding: 35px 30px;
        box-sizing: border-box;
    }
    .footer-container {
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        box-sizing: border-box;
        height: 100%;
    }
    .banner-content {
        background: #033d5e;
        color: white;
        width: 63%;
        height: 254px;
        padding: 20px 20px 30px 20px;
    }

    aside {
        width: 22.8%;
        display: flex;
        flex-direction: column;
        line-height: 0.7;
        font-family: 'Ubuntu Condensed', sans-serif;
    }
    .page-navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 36px 0 50px 0;
        box-sizing: border-box;
    }
    .page-navigation span {
        background: #cecece;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 295px;
        height: 72px;
        padding: 0 21px;
        box-sizing: border-box;
    }
    .blog-post-section {
        display: flex;
        flex-direction: column;
        width: 698px;
    }
    .post-block {
        width: 214px;
    }
    .post-img {
        background-position: center;
        background-size: cover;
        width: 212px;
        height: 121px;
        display: block;
    }
    .aside-video-container iframe {
        width: 100%;
        height: 159px;
        border: none;
    }
    .blog-post-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid #cecece;
        padding: 0 0 99px 0;
        margin: 0 0 56px 0;
        box-sizing: border-box;
    }

    .blog-post-container>a {
        position: absolute;
        bottom: 30px;
        color: #205391;
        font-family: 'Proxima Nova Cn Rg';
        font-size: 0.85em;
        text-decoration: none;
    }
    .ads-container {
        background: #ebebec;
        width: 100%;
        height: 358px;
        box-sizing: border-box;
        padding: 43px 0;
    }
    .link-container {
        width: 48%;
        border: 3px solid #efefef;
        box-sizing: border-box;
        padding: 21px 0 68px 61px;
    }
    footer {
        background: #cecece;
        margin: 41px 0 auto;
        height: 59px;
    }
}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 380px) {

}
